body, html {
    /* height: 100%; */
    margin: 0;
    background: linear-gradient(-90deg, rgb(226, 99, 14), rgb(128, 33, 33)); 
    padding-top: 1px;
}

.bg {
    background-image: url("../img/burger.jpg");
    /* height: 100%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    /* background-image: linear-gradient(-90deg, grey, black); */
    color: red;
    font-family: 'Monda', sans-serif; 
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
    height: 990px;
    position: relative;
    /* background: url("../../images/Tower_Bridge.jpg"); */
    width:auto;
    background-size: 100% 100%;
}

#title {
    padding-top: 20px;
    color: red;
}

input {
    padding-left: 5px;
}

.activity {
    text-align: left;
    padding: 20px;
}

h4 {
    text-decoration-line: underline;
    color: red;
    padding-left: 30px;
}
#newB {
    /* font-display: black; */
}